<div class="modal-container" *ngFor="let chart of chartList">
  <h2>Chart Settings</h2>
  <form [formGroup]="modalWindowForm">
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Chart Title">
    </mat-form-field>
    <div class="modal-chart_type">
      <h3>Select chart type</h3>
      <mat-radio-group formControlName="type">
        <mat-radio-button [value]="'line'" [checked]="modalWindowForm.get('type')?.value === 'line'"><span
          class="modal-checkbox_title">Line Chart</span></mat-radio-button>
        <mat-radio-button [value]="'area'" [checked]="modalWindowForm.get('type')?.value === 'area'"><span
          class="modal-checkbox_title">Area Chart</span></mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="modal-chart_color">
      <h3>Select chart color</h3>
      <mat-radio-group formControlName="color">
        <mat-radio-button [value]="'red'" [checked]="modalWindowForm.get('color')?.value === 'red'"><span
          class="modal-checkbox_title">Red</span></mat-radio-button>
        <mat-radio-button [value]="'blue'" [checked]="modalWindowForm.get('color')?.value === 'blue'"><span
          class="modal-checkbox_title">Blue</span></mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
  <div class="actions">
    <button mat-raised-button class="modal_btn" (click)="saveChartSettings(chart.chartId)">Save</button>
    <button mat-raised-button class="modal_btn" (click)="closeDialog()">Cancel</button>
  </div>
</div>
